header  {
    padding:3px;
    background-color:gray;
    border-bottom:solid;
    background-image: url(images/Headshot.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
    height:95px;
}
body {
    margin:0;
    background-color:rgb(100, 100, 100);
}
nav { 
    float: left;
    background-color:darkgray; 
    border-right:solid;
    width:150px;
    height:600px;
}
aside { 
    float: right;
    width: 150px; 
    height:600px;
    border-left:solid;
    background-color:darkgray;
}
main { 

}
footer { 
    text-align: center;
    padding-top: 10px;
    clear: both; 
    border-top:solid;
    background-color:gray;
}	
h1  {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 251, 0);
    text-shadow: 3px 3px 3px #000000;
}
h1 a:hover {
    color:rgb(255, 251, 0);
    text-shadow: 3px 3px 3px #000000;
}
h1 a:link  {
    color:rgb(255, 251, 0);
    text-shadow: 3px 3px 3px #000000;
}
h1 a:visited  {
    color:rgb(255, 251, 0);
    text-shadow: 3px 3px 3px #000000;
}
h1 a:active  {
    color:rgb(255, 251, 0);
    text-shadow: 3px 3px 3px #000000;
}
h2  {
    padding-left:5px;
}
p  {
    padding:5px 155px 5px 155px;
}
ul  {
    padding:5px;
}
li  {
    text-align:center;
}
a:link{
    color:black;
    text-decoration:none;
}         
a:visited{
    color:black;
    text-decoration:none;
}        
a:hover{
    color:black;
    text-decoration:none;
}
a:active{
    color:black;
    text-decoration:none;
}
.column3 {
    float: left;
    width: 28.5%;
    padding: 10px;
    height: 300px;
    border-top:solid;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column2 {
    float: left;
    width: 43.72%;
    padding: 10px;
    height: 300px;
    border-top:solid;
}
table  {
    margin:auto;
    border:outset;
}
th  {
    border:solid;
}
td  {
    border:inset;
}